# Python bytecode/cache
__pycache__/
*.py[cod]
RELEASE/
*.zip
*.dat

# SCFF MIS
SCFF/
MIS/

# Debug scripts
*_debug*.*
*_bak*.*
*fix*.*
old_scripts/

# PyInstaller build artifacts
build/
dist/
*.spec
*.manifest
*.exe

# Local build scripts/logs
*.log
build_exe.bat
build_pkg.bat

# VS Code workspace/settings
.vscode/
*.code-workspace

# ensitive or machine-specific config
libs/config.ini
*.env
libs/*.json
!libs/en_kjv.json

# OS files
Thumbs.db
.DS_Store
nul

# Jetbrains
.idea/
*.iml

# Virtual environments
.venv/
venv/

# Test SQL
test_sql/
test_exe/
test_zip/
